@charset "utf-8";
/* CSS Document */
html, body, div, p, ul, li, dl, dt, dd, h1, h2, h3, h4, h5, h6, form, input, select, button, textarea, iframe, table, th, td { margin: 0; padding: 0; }
html,body {height:100%;margin:0;display:block;text-align:center;}
.container {height:100%;margin:0;display:block;width:935px; MARGIN-RIGHT: auto; MARGIN-LEFT: auto;}
.left {display:block;width:79%;float:left;height:100%;margin:0 10px 0 0;}
.right {display:block;width:19%;float:right;height:100%;border-radius: 25px 25px / 25px 25px;}
.header {width:100%;height:100px;margin:0;display:block; MARGIN-RIGHT: auto; MARGIN-LEFT: auto;}
.footer {width:100%;height:100px;margin:0;display:block; MARGIN-RIGHT: auto; MARGIN-LEFT: auto;}
.title {width:100%;height:60px;margin:0;display:block; }
.content {width:100%;height:auto;margin:0;display:block; }
.profile {width:100%;height:100px;margin:0;display:block; }
.cata_list {width:100%;height:auto;margin:0;display:block;text-align:left; }
.desc_list {text-align:left;}

.post_form  {text-align:left;line-height:100px;}
.post_title {line-height:100px;height:50px;}
.post_title input {line-height:15px;width:500px;height:30px;font-size:25px;vertical-align:middle; border-radius: 10px;}
.post_content textarea {line-height:15px;width:}
.post_tags {line-height:100px;height:50px;}
.post_tags input {line-height:15px;width:500px;height:30px;font-size:25px;vertical-align:middle;border-radius: 10px;}